<!--
  ========================================================================
  DEVise Data Visualization Software
  (c) Copyright 2000-2010
  By the DEVise Development Group
  Madison, Wisconsin
  All Rights Reserved.
  ========================================================================

  Under no circumstances is this software to be copied, distributed,
  or altered in any way without prior permission from the DEVise
  Development Group.
-->

<!--
  $Id$
-->

<html>
<head>
  <title>DEVise JavaScreen: select BMRB sample for visualizations</title>
  <link REL="stylesheet" TYPE="text/css" HREF="/stylesheets/main.css" TITLE="main stylesheet">
</head>
<body>

<form method="get" name="get_by_bmrb" action="CGI_URL">
  <label for="number">Enter a BMRB accession number (e.g., 4081)</label>
  <p>
  <input type="text" name="number" size="5">
  </p>
  <p>
  <input type="submit" value="View data">
  </p>
</form>

</body>
</html>

