<!--
  ========================================================================
  DEVise Data Visualization Software
  (c) Copyright 2010
  By the DEVise Development Group
  Madison, Wisconsin
  All Rights Reserved.
  ========================================================================

  Under no circumstances is this software to be copied, distributed,
  or altered in any way without prior permission from the DEVise
  Development Group.
-->

<!--
  $Id$
-->

<html>
<head>
<title>DEVise JavaScreen: select PDB ID for restraint visualizations</title>
</head>
<body>

<form method="get" name="get_by_pdb" action="CGI_URL">
  <p>Enter a PDB ID (e.g., 1brv):
    <input type="text" name="restraint_id" size="4">
  <p><input type="submit" value="View data">
</form>

</body>
</html>

