/*
 * blue-grey stylesheet
 */
body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 3px;
    margin-right: 3px;
    margin-top:0
}


a { text-decoration: none; }
a:link { color: #0404cc; }
a:visited { color: #0404cc; }
a:hover { color: #0000ff; }
a:active { color: #0000ff; }

textarea {
    font-family: monospace;
    font-size: 90%;
}

img {
    border: none;
}

table {
    border: none;
}

/* layout divs */
#wrapper {
    margin: 0 auto;
}

/* blue top part with logos */
.header {
    width: 100%;
    margin-top: 0.5em;
    background-color: #cbdbff;
    border: solid 2px #33527b;
    -moz-border-radius: 5px 5px 5px 0px;
    -webkit-border-radius: 5px 5px 5px 0px;
    -khtml-border-radius: 5px 5px 5px 0px;
    border-radius: 5px 5px 5px 0px;
}

/* menu column */
#leftcol {
    margin: 0 0 0 0;
    padding: 1em 1em 0.5em 10px;
    text-align: left;
    vertical-align: top;
    background-color: #ededed;
    border-left: solid 2px #33527b;
    border-right: solid 2px #33527b;
    border-bottom: solid 2px #33527b;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;

}

/* content column */
#maincol {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.content {
}

/* blue footer with "last updated" */
#footer {
    clear: both;
    font-size: small;
    padding-top: 1em;
    background-color: #cbdbff;
    border: solid 1px white;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

/* accordion menu */
.sidemenu {
    text-align: left;
    margin: 2px 0 2px 0;
    padding: 2px 0 2px 0;
    background-color: white;
    display: block;
}
.submenu {
    margin: 2px;
    padding-left: 1em;
    padding-right: 1em;
    list-style-type: none;
}
.submenu li {
    padding-left: 1em;
    text-indent: -1em;
}
.submenu li:hover {
    background-color: #ededed;
}
.expandingHeader {
/*    border-top: solid 1px #660000; */
}
.notExpandingHeader {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
    margin-left: 18px;
}
.Selected {
    display: list-item;
    list-style-position: inside;
    list-style-image: url( "/images/down_triangle.gif" );
}
.NotSelected {
    display: list-item;
    list-style-position: inside;
    list-style-image: url( "/images/right_triangle.gif" );
}

/* thin grey frame with rounded corners */
.box_grey_rndcnr {
    margin: 0.5em;
    padding: 0 1em 1em 1em;
    border: solid 1px #cbcbcb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

/* highlight on hover for table rows 
   needs expanding_menu.js */
.highlight_hover {
    background: #ededed;
}

/* basic text alignment */
.top { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
