<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--
  ========================================================================
  DEVise Data Visualization Software
  (c) Copyright 2000-2013
  By the DEVise Development Group
  Madison, Wisconsin
  All Rights Reserved.
  ========================================================================

  Under no circumstances is this software to be copied, distributed,
  or altered in any way without prior permission from the DEVise
  Development Group.
-->

<!--
  $Id$
-->

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>NMR Data Visualizations</title>
  <link href="../visualization.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>

  <div class="header">
    <table width="100%" align="CENTER" border="0" cellpadding="10px">
      <tbody><tr>
        <td style="text-align: left;">
            <a href="../.."><img src="../figures/logo.png" style="margin-left: 2em;" alt="BMRB" title="BMRB homepage" height="60" width="56"></a>
        </td>
        <td style="text-align: center">
          <h2 style="font-style: italic; margin-bottom: 0;">Biological Magnetic Resonance Data Bank</h2><br>
          <span style="font-style: italic;">A Repository for Data from NMR Spectroscopy on Proteins,
          Peptides, Nucleic Acids, and other Biomolecules</span>
        </td>
        <td style="text-align: right">
            <a href="http://www.wwpdb.org/" target="_blank" style="padding-right: 2em;">
                <img src="../figures/wwpdb.png" alt="WWPDB" title="World Wide Protein Data Bank" height="60" width="183">
            </a>
        </td>
      </tr></tbody>
    </table>
  </div>

  <br>
  <div class="content">
    <form method="get" name="get_by_bmrb" action="CGI_URL">
      <label for="number">Enter a BMRB accession number (e.g., 4081)
        to generate visualizations for that entry</label>
      <p>
      <input type="text" name="number" id="number" size="5">
      <input type="submit" value="View data">
      </p>
    </form>
  </div>

  <center>
    <h1>NMR data visualizations</h1>
  </center>

  <br>
  <div> <!-- The whole top section -->
    <div> <!-- One row -->
      <div class="vis-ex-toplevel">
	<center>
        <a href="#Histograms"><img src="figures/1protein_thumb.png" alt="Database-wide chemical shift histograms" title="Database-wide chemical shift histograms"></a>
	</center>
      </div>
      <div class="vis-ex-toplevel">
	<center>
        <a href="#3D_constraints"><img src="figures/distance_restraint_thumb.png" alt="3D and constraints" title="3D and constraints"></a>
	</center>
      </div>
      <div class="vis-ex-toplevel">
	<center>
        <a href="#Chem_shifts"><img src="figures/cs_index_thumb.png" alt="Single-entry chemical shifts and coupling constants" title="Single-entry chemical shifts and coupling constants"></a>
	</center>
      </div>
      <p style="clear: both"></p>
    </div> <!-- One row -->

    <br>
    <div> <!-- One row -->
      <div class="vis-ex-toplevel">
	<center>
        <a href="#Chem_shift_ref"><img src="figures/lacs1_thumb.png" alt="Chemical shift referencing" title="Chemical shift referencing"></a>
	</center>
      </div>
      <div class="vis-ex-toplevel">
	<center>
        <a href="#Relaxation"><img src="figures/t1_thumb.png" alt="Relaxation data" title="Relaxation data"></a>
	</center>
      </div>
      <div class="vis-ex-toplevel">
	<center>
        <a href="#Two_entry"><img src="figures/multi_entry_nh_thumb.png" alt="Simulated two-entry HSQC spectra" title="Simulated two-entry HSQC spectra"></a>
	</center>
      </div>
      <p style="clear: both"></p>
    </div> <!-- One row -->
  </div> <!-- The whole top section -->

  <br>
  <a name="Histograms"></a>
  <div class="content" style="padding-top: 0px">
    <center>
      <h2>Database-wide chemical shift histograms</h2>
    </center>
    <div class="thumbnail-holder">
      <a href="../histogram_example.html"><img src="figures/1protein_thumb.png" alt="Database-wide protein chemical shift histogram" title="Database-wide protein chemical shift histogram"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../histogram2_example.html"><img src="figures/2protein_thumb.png" alt="Database-wide dual-protein chemical shift histogram" title="Database-wide dual-protein chemical shift histogram"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../dna_histogram_example.html"><img src="figures/dna_thumb.png" alt="Database-wide DNA chemical shift histogram" title="Database-wide DNA chemical shift histogram"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../rna_histogram_example.html"><img src="figures/rna_thumb.png" alt="Database-wide RNA chemical shift histogram" title="Database-wide RNA chemical shift histogram"></a>
    </div>
    <p style="clear: both"></p>
  </div>

  <br>
  <a name="3D_constraints"></a>
  <div class="content" style="padding-top: 0px">
    <center>
      <h2>3D and constraints</h2>
    </center>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/4264x/4264xac8.html"><img src="figures/3d_thumb.png" alt="3D structure" title="3D structure"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/15209x/15209xdistr1.html"><img src="figures/distance_restraint_thumb.png" alt="Distance constraints" title="Distance constraints"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/15209x/15209xtar1.html"><img src="figures/torsion_angle_thumb.png" alt="Torsion angle constraints" title="Torsion angle constraints"></a>
    </div>
    <p style="clear: both"></p>
  </div>

  <br>
  <a name="Chem_shifts"></a>
  <div class="content" style="padding-top: 0px">
    <center>
      <h2>Single-entry chemical shifts and coupling constants</h2>
    </center>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/7114x/7114xd1.html"><img src="figures/cs_delta_thumb.png" alt="Chemical shift delta" title="Chemical shift delta"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/7114x/7114xc1.html"><img src="figures/cs_index_thumb.png" alt="Chemical shift index" title="Chemical shift index"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/7114x/7114xp1.html"><img src="figures/pct_assigned_thumb.png" alt="Percent assigned atoms" title="Percent assigned atoms"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/7114x/7114xas1.html"><img src="figures/cs_dist_thumb.png" alt="Chemical shift distributions by amino acid" title="Chemical shift distributions by amino acid"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/7114x/7114xhn1.html"><img src="figures/nh_thumb.png" alt="Simulated 1H-15N backbone HSQC spectrum" title="Simulated 1H-15N backbone HSQC spectrum"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/7114x/7114xhc1.html"><img src="figures/ch_thumb.png" alt="Simulated 1H-13C HSQC spectrum" title="Simulated 1H-13C HSQC spectrum"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/15063x/15063xsd1.html"><img src="figures/sparta_thumb.png" alt="SPARTA back calculated chem shift deltas" title="SPARTA back calculated chem shift deltas"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/7114x/7114xam1.html"><img src="figures/ambig_thumb.png" alt="Assigned chemical shift ambiguity code data" title="Assigned chemical shift ambiguity code data"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/5167x/5167xd1.html"><img src="figures/dna_delta_thumb.png" alt="Chem shift deltas for nucleic acids" title="Chem shift deltas for nucleic acids"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/4267x/4267xg1.html"><img src="figures/coupling_thumb.png" alt="Coupling constants" title="Coupling constants"></a>
    </div>
    <p style="clear: both"></p>
  </div>

  <br>
  <a name="Chem_shift_ref"></a>
  <div class="content" style="padding-top: 0px">
    <center>
      <h2>Chemical shift referencing</h2>
    </center>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/4267x/4267xlacs1.html"><img src="figures/lacs1_thumb.png" alt="Linear analysis of chemical shifts: CA vs. CA-CB" title="Linear analysis of chemical shifts: CA vs. CA-CB"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/4267x/4267xlacs2.html"><img src="figures/lacs2_thumb.png" alt="Linear analysis of chemical shifts: CB vs. CA-CB" title="Linear analysis of chemical shifts: CB vs. CA-CB"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/4267x/4267xlacs3.html"><img src="figures/lacs3_thumb.png" alt="Linear analysis of chemical shifts: HA vs. CA-CB" title="Linear analysis of chemical shifts: HA vs. CA-CB"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/4267x/4267xlacs4.html"><img src="figures/lacs4_thumb.png" alt="Linear analysis of chemical shifts: CO vs. CA-CB" title="Linear analysis of chemical shifts: CO vs. CA-CB"></a>
    </div>
    <p style="clear: both"></p>
  </div>

  <br>
  <a name="Relaxation"></a>
  <div class="content" style="padding-top: 0px">
    <center>
      <h2>Relaxation data</h2>
    </center>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/4267x/4267xt11.html"><img src="figures/t1_thumb.png" alt="T1 relaxation" title="T1 relaxation"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/4267x/4267xt21.html"><img src="figures/t2_thumb.png" alt="T2 relaxation" title="T2 relaxation"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/4267x/4267xn3.html"><img src="figures/het_noe_thumb.png" alt="Heteronuclear NOE" title="Heteronuclear NOE"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/4267x/4267xo1.html"><img src="figures/s2_thumb.png" alt="S2 order parameters" title="S2 order parameters"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/15451x/15451xs2p1-1.html"><img src="figures/s2_pred_thumb.png" alt="S2 predicted vs. experimental" title="S2 predicted vs. experimental"></a>
    </div>
    <p style="clear: both"></p>
  </div>

  <br>
  <a name="Two_entry"></a>
  <div class="content" style="padding-top: 0px">
    <center>
      <h2>Simulated two-entry HSQC spectra</h2>
    </center>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/15783x/15783x+15960hn1+1.html"><img src="figures/multi_entry_nh_thumb.png" alt="Two-entry simulated 1H-15N backbone HSQC spectra" title="Two-entry simulated 1H-15N backbone HSQC spectra"></a>
    </div>
    <div class="thumbnail-holder">
      <a href="../peptide-cgi/html/15783x/15783x+15960hc1+1.html"><img src="figures/multi_entry_ch_thumb.png" alt="Two-entry simulated 1H-13C HSQC spectra" title="Two-entry simulated 1H-13C HSQC spectra"></a>
    </div>
    <p style="clear: both"></p>
  </div>

  <br>
  <div class="content">
    <center>
    <strong>Other visualization options</strong>
    </center>
    <p><a href="../peptide-cgi/bmrb_select.html">Single-entry visualization selection page</a>
    </p>
    <p><a href="../peptide-cgi/bmrb_select2.html">Two-entry visualization selection page</a>
    </p>
    <p><a href="../peptide-cgi/restraint_select.html">Restraints by PDB ID</a>
    </p>
    <p><a href="../histograms/index.html">Database-wide histograms</a>
    </p>
    <p><a href="../vis_serv">Visualization server</a> (upload and
    visualize data without making it public)
    </p>
  </div>

  <br>
  <div class="content">
    <p>Comments or questions?  Contact
      <a href="mailto:bmrbhelp@bmrb.wisc.edu">bmrbhelp@bmrb.wisc.edu</a>
    </p>
    <p>Problems with the visualization software?  Contact <a
      href="mailto:devise-sup@cs.wisc.edu">devise-sup@cs.wisc.edu</a>
    </p>
  </div>

</body>
</html>
