<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--
  ========================================================================
  DEVise Data Visualization Software
  (c) Copyright 2000-2012
  By the DEVise Development Group
  Madison, Wisconsin
  All Rights Reserved.
  ========================================================================

  Under no circumstances is this software to be copied, distributed,
  or altered in any way without prior permission from the DEVise
  Development Group.
-->

<!--
  $Id$
-->

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>DEVise JavaScreen: select 2 BMRB samples for visualizations</title>
  <link href="../visualization.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>

  <div class="header">
    <table width="100%" align="CENTER" border="0" cellpadding="10px">
      <tbody><tr>
        <td style="text-align: left;">
            <a href="../.."><img src="../figures/logo.png" style="margin-left: 2em;" alt="BMRB" title="BMRB homepage" height="60" width="56"></a>
        </td>
        <td style="text-align: center">
          <h2 style="font-style: italic; margin-bottom: 0;">Biological Magnetic Resonance Data Bank</h2><br>
          <span style="font-style: italic;">A Repository for Data from NMR Spectroscopy on Proteins,
          Peptides, Nucleic Acids, and other Biomolecules</span>
        </td>
        <td style="text-align: right">
            <a href="http://www.wwpdb.org/" target="_blank" style="padding-right: 2em;">
                <img src="../figures/wwpdb.png" alt="WWPDB" title="World Wide Protein Data Bank" height="60" width="183">
            </a>
        </td>
      </tr></tbody>
    </table>
  </div>

  <br>
  <center>
    <h2>BMRB two-entry visualizations</h2>
  </center>

  <br>
  <div class="content">
    <form method="get" name="get_by_bmrb" action="CGI_URL">
      <label for="number">Enter two BMRB accession numbers (e.g., 16606 and
        16607) here to generate visualizations comparing the entries.</label>
      <p>
      <input type="text" name="number" id="number" size="5" value="16606">
      <input type="text" name="xbmrbid" size="5" value="16607">
      <input type="submit" value="View data">
      </p>
    </form>
  </div>

  <br>
  <p>
  You can also upload data to the <a href="../../vis_serv">
  Visualization Server</a> and compare it to a released entry (first
  upload your data to the visualization server and generate the
  visualizations; once you've done that you can enter an accession number
  for generating the two-entry visualizations).
  </p>

  <p>
  Currently two two-entry visualizations are available: the simulated
  1H-15N backbone HSQC spectrum and the simulated 1H-13C HSQC spectrum.
  Examples of each are shown below, with links to the help pages offering
  detailed explanations.
  </p>

  <p>
  </p>

  <br>
  <div class="content">

    <table width="100%" cellpadding="5">
      <tr>
        <td width="50%">
          <table class="vis">
            <tr>
              <td align="left" rowspan="2" width="120">
                <a class="thumbnail"><img src="figures/multi_entry_nh_thumb.png"><span><img src="figures/multi_entry_nh.png"></span></a>
              </td>
              <th align="left">
                Simulated 1H-15N backbone HSQC spectrum example
              </th>
            </tr>
            <tr>
              <td align="center">
                <a href="html/help_hn2.html">Help about this visualization</a>
              </td>
            </tr>
          </table>
        </td>

        <td width="50%">
          <table class="vis">
            <tr>
              <td align="left" rowspan="2" width="120">
                <a class="thumbnail"><img src="figures/multi_entry_ch_thumb.png"><span><img src="figures/multi_entry_ch.png"></span></a>
              </td>
              <th align="left">
                Simulated 1H-13C HSQC spectrum example
              </th>
            </tr>
	    <tr>
              <td align="center">
                <a href="html/help_hc2.html">Help about this visualization</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <br>
  <div class="content">
    <center>
    <strong>Other visualization options</strong>
    </center>
    <p><a href="bmrb_select.html">Single-entry visualization selection page</a>
    </p>
    <p><a href="restraint_select.html">Restraints by PDB ID</a>
    </p>
    <p><a href="../histograms/index.html">Database-wide histograms</a>
    </p>
    <p><a href="../../vis_serv">Visualization server</a> (upload and
    visualize data without making it public)
    </p>
  </div>

  <br>
  <div class="content">
    <p>Comments or questions?  Contact
      <a href="mailto:bmrbhelp@bmrb.wisc.edu">bmrbhelp@bmrb.wisc.edu</a>
    </p>
    <p>Problems with the visualization software?  Contact <a
      href="mailto:devise-sup@cs.wisc.edu">devise-sup@cs.wisc.edu</a>
    </p>
  </div>

</body>
</html>

