<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<!--
  ========================================================================
  DEVise Data Visualization Software
  (c) Copyright 2000-2012
  By the DEVise Development Group
  Madison, Wisconsin
  All Rights Reserved.
  ========================================================================

  Under no circumstances is this software to be copied, distributed,
  or altered in any way without prior permission from the DEVise
  Development Group.
-->

<!--
  $Id$
-->

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>DEVise JavaScreen: select BMRB sample for visualizations</title>
  <link href="../visualization.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>

  <div class="header">
    <table width="100%" align="CENTER" border="0" cellpadding="10px">
      <tbody><tr>
        <td style="text-align: left;">
            <a href="../.."><img src="../figures/logo.png" style="margin-left: 2em;" alt="BMRB" title="BMRB homepage" height="60" width="56"></a>
        </td>
        <td style="text-align: center">
          <h2 style="font-style: italic; margin-bottom: 0;">Biological Magnetic Resonance Data Bank</h2><br>
          <span style="font-style: italic;">A Repository for Data from NMR Spectroscopy on Proteins,
          Peptides, Nucleic Acids, and other Biomolecules</span>
        </td>
        <td style="text-align: right">
            <a href="http://www.wwpdb.org/" target="_blank" style="padding-right: 2em;">
                <img src="../figures/wwpdb.png" alt="WWPDB" title="World Wide Protein Data Bank" height="60" width="183">
            </a>
        </td>
      </tr></tbody>
    </table>
  </div>

  <br>
  <center>
    <h2>BMRB entry visualizations</h2>
  </center>

  <br>
  <div class="content">
    <form method="get" name="get_by_bmrb" action="CGI_URL">
      <label for="number">Enter a BMRB accession number (e.g., 4081)
        to generate visualizations for that entry</label>
      <p>
      <input type="text" name="number" size="5">
      <input type="submit" value="View data">
      </p>
    </form>
  </div>

  <br>
  <div class="content">

    <table width="100%" cellpadding="5">
      <tr>
        <td width="50%">
          <table class="vis">
            <tr>
              <td align="left" rowspan="2" width="120">
                <a class="thumbnail"><img src="figures/3d_thumb.png"><span><img src="figures/3d.png"></span></a>
              </td>
              <th align="left">
                3D structure example
              </th>
            </tr>
            <tr>
              <td align="center">
                <a href="html/help_ac.html">Help about this visualization</a>
              </td>
            </tr>
          </table>
        </td>

        <td width="50%">
          <table class="vis">
            <tr>
              <td align="left" rowspan="2" width="120">
                <a class="thumbnail"><img src="figures/cs_dist_thumb.png"><span><img src="figures/cs_dist.png"></span></a>
              </td>
              <th align="left">
                Chemical shift distributions by amino acid example
              </th>
            </tr>
	    <tr>
              <td align="center">
                <a href="html/help_as.html">Help about this visualization</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table class="vis">
            <tr>
              <td align="left" rowspan="2" width="120">
                <a class="thumbnail"><img src="figures/csr3_thumb.png"><span><img src="figures/csr3.png"></span></a>
              </td>
              <th align="left">
                Observed vs. calculated chemical shifts example
              </th>
            </tr>
	    <tr>
              <td align="center">
                <a href="html/help_csr3.html">Help about this visualization</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <br>
  <div class="content">
    <center>
    <strong>Other visualization options</strong>
    </center>
    <p><a href="bmrb_select2.html">Two-entry visualization selection page</a>
    </p>
    <p><a href="restraint_select.html">Restraints by PDB ID</a>
    </p>
    <p><a href="../histograms/index.html">Database-wide histograms</a>
    </p>
    <p><a href="../../vis_serv">Visualization server</a> (upload and
    visualize data without making it public)
    </p>
  </div>

  <br>
  <div class="content">
    <p>Comments or questions?  Contact
      <a href="mailto:bmrbhelp@bmrb.wisc.edu">bmrbhelp@bmrb.wisc.edu</a>
    </p>
    <p>Problems with the visualization software?  Contact <a
      href="mailto:devise-sup@cs.wisc.edu">devise-sup@cs.wisc.edu</a>
    </p>
  </div>

</body>
</html>

